{% extends 'customer/base.html' %}
{% block content %}
<div class="w3-bar w3-large w3-black">
  <div class="w3-bar-item w3-left w3-black">Customer Portal: {{user.username}}</div>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/logout/">Logout</a>
  <a class="w3-bar-item w3-btn w3-teal w3-right" href="/customer_portal/manage/">Manage</a>
  <a class="w3-ber-item w3-btn w3-teal w3-right" href="/customer_portal/search/">Search Books</a>
</div>
{% csrf_token %}

<div class="w3-display-container" style="height:400px;">
  <div class="w3-display-middle">
<h3><b>Order Completed</b></h3>
<b>Your Book Order Has Been Processed!</b><br><br>
<b>Total Rent :</b> ${{order.rent}}<br><br>
<b>Book :</b> {{order.book.book_name}}<br><br>
<b>Duration :</b> {{order.days}} days<br><br>
<b>Admin :</b> {{order.sef.sef.first_name}} {{order.sef.sef.last_name}}<br><br>
<b>Admin's Contact:</b> {{order.sef.mobile}}<br><br>
</div>
</div>
{% endblock %}
